In this file are listed all the softwares, languages, packages that I have downloaded and used to make this project


Python 
======

keras : 2.2.5
tensorflow : 1.14.0

numpy
matplotlib
progressbar
mysqlconnector
streetview
osgeo
pymapillary
opencv
Equirec

pycharm


Web interface
=============
mysql
easyphp
sublime text 3
winscp
azure microsoft
